In [7]:
ticker_names = [
    "AAPL",
    "MSFT",
    "GOOGL",
    "AMZN",
    "NVDA",
    "BRK.A",
    "TSLA",
    "FB",
    "TSM",
    "UNH",
    "JPM",
    "V",
    "WMT",
    "MA",
    "AVGO",
    "HD",
    "MRK",
    "PEP",
    "ABBV",
    "ADBE",
    "CRM",
    "TMO",
    "CSCO",
    "PFE",
    "NFLX",
    "AMD",
    "NKE",
    "UPS",
    "NEE",
    "PM",
    "VZ",
    "JNJ",
    "GS",
    "COST",
    "BAC",
    "CAT",
    "LLY",
    "WBA",
    "JCI",
    "HON",
    "BMY",
    "DHR",
    "AXP",
    "TRV",
    "CVX",
    "XOM",
    "PG",
    "UNH",
    "IBM",
    "COST",
]

In [8]:
import time
import requests
import pandas as pd

st = time.time()


ticker_df=[]


for name in ticker_names[:4]:
  time.sleep(5)
  url = "https://alpha-vantage.p.rapidapi.com/query"

  querystring = {f"interval":"5min","function":"TIME_SERIES_INTRADAY","symbol":{name},"datatype":"json","output_size":"compact"}

  headers = {
    "X-RapidAPI-Key": "70b10734ecmsh9ac4e74e563e401p1c65d3jsn66b3044e2e6a",
    "X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com"
  }

  response = requests.get(url, headers=headers, params=querystring)
  data=response.json()

    #slicing the time away
  tim=[]
  data_frames = []
  for _,v in data['Time Series (5min)'].items():
    tim.append(_)

  #slicing the data away
  datan=[]
  for _,v in data['Time Series (5min)'].items():
    datan.append(v)


  #merging everything inside a dataframe

  data_frames = []
  for data in datan:
      df = pd.DataFrame([data]).rename(columns={
          '1. open': 'open',
          '2. high': 'high',
          '3. low': 'low',
          '4. close': 'close',
          '5. volume': 'vol'
      }).astype({'open': float, 'high': float, 'low': float, 'close': float, 'vol': int})
      data_frames.append(df)

  #merging all the dataframes

  merged_df = pd.concat(data_frames)
  merged_df = merged_df.reset_index(drop=True)

  #adding the time variable value
  merged_df['time']=tim

  ticker_df.append(merged_df)

  #df.iloc[0:0]
  merged_df.iloc[0:0]


et=time.time()

tt=et-st
print(f"completion time is {tt}")

completion time is 25.25424838066101

In [11]:
for c,df in enumerate(ticker_df):
  print(ticker_names[c])
  f_name=ticker_names[c]+".csv"
  print(df.head())
  df.to_csv(f_name)

AAPL
     open    high     low    close   vol                 time
0  192.06  192.10  192.00  192.050  2708  2023-07-21 19:55:00
1  192.02  192.06  192.02  192.050   432  2023-07-21 19:50:00
2  192.03  192.06  192.00  192.040  1572  2023-07-21 19:45:00
3  191.98  192.08  191.98  192.060  1238  2023-07-21 19:40:00
4  192.03  192.08  191.98  191.985   521  2023-07-21 19:35:00
MSFT
     open    high     low   close   vol                 time
0  344.94  344.94  344.72  344.90  3763  2023-07-21 19:55:00
1  344.87  344.92  344.63  344.92  3153  2023-07-21 19:50:00
2  344.64  344.82  344.62  344.82  2472  2023-07-21 19:45:00
3  344.64  344.70  344.62  344.66   627  2023-07-21 19:40:00
4  344.70  344.74  344.63  344.70   250  2023-07-21 19:35:00
GOOGL
     open    high     low    close   vol                 time
0  120.25  120.29  120.09  120.165  2974  2023-07-21 19:55:00
1  120.24  120.29  120.21  120.240   802  2023-07-21 19:50:00
2  120.22  120.25  120.20  120.250  1477  2023-07-21 19:45:00
3  120.20  120.25  120.08  120.200  2503  2023-07-21 19:40:00
4  120.13  120.20  120.04  120.200  1970  2023-07-21 19:35:00
AMZN
     open    high     low   close   vol                 time
0  129.99  130.00  129.81  129.96  8662  2023-07-21 19:55:00
1  129.97  130.05  129.97  129.98  5043  2023-07-21 19:50:00
2  129.98  129.98  129.95  129.97  1373  2023-07-21 19:45:00
3  129.95  129.98  129.90  129.98  1930  2023-07-21 19:40:00
4  129.96  129.98  129.90  129.98   561  2023-07-21 19:35:00